h1 {
    margin: 10px 0
}

h2 {
    font-size: 50px;
    margin: 0 0 20px 0;
}

button {
    border: none;
    padding: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 200px;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: green;
}